.flex-gameImage {
    margin-top: 21px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    padding: 10px 200px;
}
.game-image {
    width: 33%;
    margin-top: 35px;
    /* position: relative; */
}
.imgSize {
    width: 94%;
    height: 35vw;
    border-radius: 20px;
    object-fit: cover;
    display: block;
}
.logoZoom {
    /* color: white; */
    /* font-size: 20px; */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
    color: white!important;
}
.css-1v2lvtn-MuiPaginationItem-root {
    color: white!important;
}
.flex-pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 88px;
}
.css-1p5q5e5-MuiStack-root {
    background: #323587;
    padding: 10px 55px;
    border-radius: 15px;
    margin-top: 88px;
}
.frame {
    width: 33%;
    height: 35vw;
    overflow: hidden;
  }
  .zoomin img {
    width: 94%;
    height: 35vw;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
  }
  .zoomin img:hover {
    width: 98%;
    height: 39vw;
  }
  .overlay {
    margin-top: -300px;
    position: relative;
    /* height: 100%; */
    /* width: 100%; */
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .game-image:hover .overlay {
    opacity: 0.8;
  }
  .css-1636szt {
      color: white!important;
  }
  

@media screen and (max-width: 1440px) {
    .flex-gameImage {
        margin-top: 21px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        text-align: center;
        padding: 10px;
    }

}
@media (max-width: 425px) {
    .game-image {
        width: 100%;
        /* margin-top: 35px; */
    }
    .imgSize {
        width: 94%;
        height: 500px;
        border-radius: 20px;
        object-fit: cover;
    }
}