.pickgame {
  width: 30%;
  text-align: left;
}
.pick-font {
  font: normal normal normal 35px/70px Libel Suit;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin: 0;
  line-height: 1;
}
.flex-pickgame {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  color: white;
}
.choose-font {
  text-align: left;
  font: normal normal normal 18px/36px Libel Suit;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin: 0;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #f8f9fa !important;
  color: white;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}
.css-1oybtu7-MuiInputBase-root-MuiOutlinedInput-root {
  height: 50px;
}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}
.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  color: white !important;
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: white !important;
}
.css-1nrlq1o-MuiFormControl-root {
  width: 310px;
}
.filter-menu {
  width: 50%;
  display: flex;
}
.filter1 {
  width: 25%;
}
.filter2 {
  width: 25%;
}

.filter3 {
  width: 25%;
}

.filter4 {
  width: 25%;
}
@media screen and (max-width: 425px) {
    .pick-font {
        /* line-height: 1; */
        display: none;
    }
    .flex-pickgame {
        display: none;
    }

}

