.earth_size {
    width: 100%;
    height: auto;
    background-color: #13142C;
    /* margin-top: 4%; */
    display: flex;
    justify-content: center;
}
.group_game:hover {
    background-color: white;
}



#XMLID_657_ {
    position: relative;
}
.XMLID_657-son {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: red;
}

@media (min-width: 425px) and (max-width: 768px) {
    .earth_size {
        display: none;
    }
}
